<header>
  <div class="container">
      <div class="row">
        <div class="col-md-3">
            <img width="100" src="../assets/logo.png">  
          </div>
          <div class="col-md-6">
            <h1>Líderes viajando en el ministerio</h1>
          </div> 
          <div class="login col-md-3">
            <img align="right" width="30" src="../assets/AccountLogo.png">
        </div>
      </div> 
      </div>
</header>
<div class="container">
    <div class="main row">
        <div class="col-xs-12 col-sm-4 col-md-3">
          <div id="menu">
            <button class="btn btn-lg btn-block btn-info active">CONEXIONES</button>
            <button class="btn btn-lg btn-block btn-info active">INTER VISITACIÓN</button>
            <button class="btn btn-lg btn-block btn-info active">PRESUPUESTO</button>
          </div>
        </div>
        <div class="container col-xs-12 col-sm-8 col-md-9">
        </div>  
    </div>
</div>


