
  <div class="container">
        
          <div class="container col-md-9">
            
            <div class="form-group">
              <input type="text" name="nombre" placeholder="Nombre visitante">
              <input type="text" name="ciudad" placeholder="Ciudad">
              <input type="text" name="idioma" placeholder="Fecha">
              <button class="btn btn-lg btn-primary btn-success" id="IngresoLog" type="submit">GUARDAR</button>
            </div>
            
            <h3 align="center">INTER VISITACIÓN</h3>

            <table class="table table-striped table-bordered table-hover">
              <tr class="success">
                <th>Nombre visitante</th>
                <th>Ciudad</th>
                <th>Fecha</th>
              </tr>
              <tr>
                <td>Value1</td>
                <td>Value1</td>
                <td>Value1</td>
              </tr>
              <tr>
                <td>Value2</td>
                <td>Value2</td>
                <td>Value2</td>
              </tr>
            </table>  
          </div>  
      </div>
