<head>
        <title>Bolivia Virtual</title>
    
        <link rel="stylesheet" href="principal.component.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" 
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" 
        crossorigin="anonymous">
    
    
     </head>


<div class="container app">
  <div class="text-left">
      <h1>
          FARMACIA AMIGA
      </h1>
  </div>
    <div class="menu text-right">
        <button class="btn btn-secondary custom-button-width" type="submit">principal</button>
        <button class="btn btn-secondary custom-button-width" type="submit">nosotros</button>
        <button class="btn btn-secondary custom-button-width" type="submit">mision/vision</button>
        <button class="btn btn-secondary custom-button-width" type="submit">productos</button>
    </div>   
      <div class="row">
        <div class="col-sm-4">
            <img width=100% height="450" src="ubicacion.jpg">
        </div>
        <div class="col-sm-8">
            <img width=100% height="450" src="portada.jpg">
        </div>
      </div>
</div>
