
/*  

input{
	width: 8px;
}

.form-group{
	text-align: center;

}
.form-control{
	width: 100%;
}

*/
.cabecera{
    margin: 6px auto;
	text-align: center;
}
.contenido{
	width: 400px;
	background-color: #F3EDED;
    border: 1px solid #ECE8E8;
	height: 350px;
	border-radius: 50px;
	margin: 20px auto;
	padding: 60px 50px 60px 50px;
	
}

