<div class="cabecera">
  <img width="100" src="../assets/logo.png">  
</div>

<div class="contenido">
  <div class="form-group">
    <br>
    <input type="text" class="form-control" id="Usuario" name="usuario"  placeholder="Usuario" aria-describedby="sizing-addon1" required>
    <br>
    <input type="password" class="form-control" id="password" name="contraseña"  placeholder="Contraseña" aria-describedby="sizing-addon1" required>
  </div>
  <div class="text">
      <input type="checkbox" name="recuerdame" onclick="myFunction"> Recuérdame<br><br><br>
      <button class="btn  center-block btn-lg btn-primary btn-success" id="IngresoLog" type="submit">INGRESAR</button>
  </div>  
</div>	
